<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>エラー画面</title>
</head>
<body>
	<h1>エラーが発生しました。</h1>
	<!-- エラー内容 表示 -->
	<table border="1">
	   <tr>
	     <td>Httpステータスコード</td>
	     <td th:text="|${status}|"></td>
	   </tr>
	   <tr>
	     <td>エラーメッセージ</td>
	     <td th:text="|${message}|"></td>
	   </tr>
	   <tr>
	     <td>対象URL</td>
	     <td th:text="|${path}|"></td>
	   </tr>
	   <tr>
	     <td>発生日時</td>
	     <td th:text="|${eDate}|"></td>
	   </tr>
	</table>
	<a class="button-style" th:href="@{/}">一覧画面に戻る</a>
</body>
</html>